/_ReSharper.UnitTests
/UnitTests.sln.DotSettings.user
/UnitTests.v11.suo
/UnitTests/bin
/UnitTests/obj
/packages/Newtonsoft.Json.4.5.11
/packages/NUnit.2.6.2
/packages/FluentAssertions.2.0.0.1
/packages/FluentAssertions.2.0.1
/.nuget
/DiffMerge.Lib/bin
/DiffMerge.Lib/obj
/DiffMerge.Lib.Tests/bin
/DiffMerge.Lib.Tests/obj
